@import url('https://fonts.cdnfonts.com/css/metrophobic');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6E43B9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2A327A;
}


/* NAV BAR */

.navbar {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    display: flex;
    background: #6e43b9;
    justify-content: space-between;
    align-items: center;
    color: #FAFAFA;
    padding: 2% 1%;
}

.navbar-items ul {
    list-style: none;
    margin-left: 30vw;
    padding: 0;
    display: flex;
}

.navbar-items li {
    margin: 0 20px;
}

.navbar-items a {
    text-decoration: none;
    color: #FAFAFA;
}

.navbar li a:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #000000;
    transition: 0.5s;
}

.navbar-direita a {
    text-decoration: none;
    color: #FAFAFA;
}

.navbar-direita {
    font-size: 20px;
    margin-top: -1.6%;
}

.navbar-direita a:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #000000;
    transition: 0.5s;
}


/* INICIO HOME */

#homeMain {
    display: flex;
    justify-content: space-around;
    color: #FAFAFA;
    background: rgb(94, 87, 193);
    background: linear-gradient(0deg, rgba(94, 87, 193, 1) 0%, rgba(110, 67, 185, 1) 100%);
    height: 65vh;
    position: relative;
    padding: 5vb;
    margin-bottom: 15vh;
    margin-left: 0vw;
}

.main-texto {
    margin: 0;
    position: relative;
    left: 5vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-left: 0vw;
}

#part1 {
    margin-left: 0vw;
    margin-top: 2vw;
    margin-bottom: 0%;
    font-weight:700;
    color: #b1e3ed;
}

#TrackWare-titulo:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color:#000000;
    transition: 0.5s;
}

#TrackWare-subtitulo:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #000000;
    transition: 0.5s;
}

#part2 {
    margin-left:0vw;
    width: 40vw;
    margin-top: 0vw;
}

#TrackWare-titulo {
    font-weight: 300;
    font-size: 80px; 
    margin-top: -5vw;
    margin-left: 0vw;
}

#TrackWare-subtitulo {
    font-weight:light; 
    font-size: 22px;
    margin-left: 0vw;
}



.ilustracao-home {
    position: relative;
    top: -8vh;
    right: -5vw;
    z-index: 99;
}

#imagemHome {
    width: 800px;
    height: 800px;
}

/* SERVIÇOS */
.servicos {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.servicosDesc {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    color: #000000;
}

.servicosDesc img {

    position: relative;
    top: 10px;
    width: 42%;
    height: 18vh;

}

.servicosDesc .servico2 img {

    position: relative;
    top: 10px;
    width: 35%;
    height: 18vh;

}

.servicosCont {

    display: flex;
    flex-direction: column-reverse;

}

.texto {

    padding: 2.0em;
    display: flex;
    text-align: center;
    height: 50vh;
    font-size: x-large;
    position: relative;
    bottom: 6vh;
    

}

h1 {

    width: 300px;
    font-size: 80px;
    letter-spacing: 1px;
    position: relative;
    right: 3vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #2A327A;
    
}

h2 {

    font-size: xx-large;
    color: #6E43B9;
    font-family: 'Poppins', sans-serif;


}

.servico1 {
    background-color: #78E7E8;
    height: 78vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 23vh;
    z-index: 1;
    color: #6E43B9;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-right: 15%;

}

.servico1:hover{

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.servico2:hover{

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.servico3:hover{

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.servico2 {
    background-color: #FAFAFA;
    height: 82vh;
    width: 73%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 1vh;
    z-index: 2;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
}

.servico3 {

    background-color: #78E7E8;
    height: 78vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 3vh;
    right: 23vh;
    z-index: 1;
    color: #6E43B9;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-left: 15%;
}

.servicos-forma {
    position: relative;
    display: flex;

}

.servicos-divisor {
    position: relative;
    margin-top: -2vh;
}

/* SOBRE NÓS */
.sobre-nos .section-sobre {
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    color: #000000;
}
.section-sobre .texto-sobre-nos h1{
    width: 60%;
    font-size: 80px;
    letter-spacing: 1px;
    display: flex;
    position: relative;
    top: 25vh;
    left: 35vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #2A327A;
}

.section-sobre .texto-sobre-nos p{
    width: 85%;
    font-size: 28px;
    display: flex;
    position: relative;
    top: 25vh;
    left: 12vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #2A327A;
    line-height: 55px;
}

.section-sobre .texto-sobre-nos p1{
    width: 85%;
    font-size: 28px;
    display: flex;
    position: relative;
    top: 25vh;
    left: 12vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #8566c2;
    font-weight: 700;
}
.ilustracao-sobre-nos {
    position: relative;
    top: 30vh;
    right: 0vw;
    z-index: 99;
    left: 5vw;
}

#imagemSobreNos {
    width: 800px;
    height: 800px;
}
.section-sobre .texto-sobre-nos {
    width: 65%;
    margin: 10px 50px; 
    font-family: Poppins;
    color: #3b280a;
    font-style: normal; 
    font-weight: 500; 
    font-size: 18px; 
    line-height: 50px; 
    text-align: justify;
}
/* PRIMEIRO DIVISOR */
.custom-shape-divider-bottom-1692823570 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692823570 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 320px;
}

.custom-shape-divider-bottom-1692823570 .shape-fill {
    fill: #FFFFFF;
}
/* SEGUNDA DIVISAO */
.custom-shape-divider-bottom-1692676178 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692676178 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.5px);
    height: 400px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1692676178 .shape-fill {
    fill:#8A7DCE;
}

.custom-shape-divider-top-1692676204 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1692676204 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.5px);
    height: 300px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1692676204 .shape-fill {
    fill:#8A7DCE;
}