@import url('https://fonts.cdnfonts.com/css/metrophobic');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6E43B9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2A327A;
}


/* NAV BAR */

.navbar {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    display: flex;
    background: #000000;
    justify-content: space-between;
    align-items: center;
    color: #FAFAFA;
    padding: 2% 1%;
}

.navbar-items ul {
    list-style: none;
    margin-left: 30vw;
    padding: 0;
    display: flex;
}

.navbar-items li {
    margin: 0 20px;
}

.navbar-items a {
    text-decoration: none;
    color: #FAFAFA;
}

.navbar li a:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #8800ff;
    transition: 0.5s;
}

.navbar-direita a {
    text-decoration: none;
    color: #FAFAFA;
}

.navbar-direita {
    font-size: 20px;
    margin-top: -1.6%;
}

.navbar-direita a:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #8800ff;
    transition: 0.5s;
}


/* INICIO HOME */

#homeMain {
    display: flex;
    justify-content: space-around;
    color:white;
    background: #FAFAFA ;
    background: linear-gradient(0deg, rgb(160, 160, 160)  0%, rgb(0, 0, 0) 100%);
    height: 65vh;
    position: relative;
    padding: 5vb;
    margin-bottom: 15vh;
    margin-left: 0vw;
}

.main-texto {
    margin: 0;
    position: relative;
    left: 5vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-left: 0vw;
}

#part1 {
    margin-left: 0vw;
    margin-top: 2vw;
    margin-bottom: 0%;
    font-weight: 700;
    color: #fdfdfd;
}

#TrackWare-titulo:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #8800ff;
    transition: 0.5s;
}

#TrackWare-subtitulo:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #8800ff;
    transition: 0.5s;
}

#part2 {
    margin-left: 0vw;
    width: 40vw;
    margin-top: 0vw;
}

#TrackWare-titulo {
    font-weight: 300;
    font-size: 80px;
    margin-top: -5vw;
    margin-left: 0vw;
}

#TrackWare-subtitulo {
    font-weight: light;
    font-size: 22px;
    margin-left: 0vw;
}

.button-home{
    background: #8800ff;
    color: #fff;
    border: #8800ff;
    border-radius: 20px;
    margin-right: 10px;
    width: 200px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    margin-left: -6px;
}

.button-home:hover{
    color: #ffffff;
    transition: 0.5s;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    background-color: #50008a;
    transition-duration: 0.3s; /*duração da transição da animação*/
}

.ilustracao-home {
    position: relative;
    top: -8vh;
    right: -5vw;
    z-index: 99;
}


#imagemHome {
    width: 750px;
    height: 750px;
    margin-top: 8%;
    animation: floating 2s ease-in-out infinite;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    /* animation: pulse 2.0s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse; */
}
/* 
@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);

    }
    100% {
      -webkit-transform: scale(1.1);
  
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);

    }
    100% {
      transform: scale(1.1);
 
    }
  } */

  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


/* SERVIÇOS */
.servicos {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
}

.servicosDesc {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    color: #000000;
}

.servicosDesc img {

    position: relative;
    top: 10px;
    width: 42%;
    height: 18vh;

}

.servicosDesc .servico1 img {

    position: relative;
    top: 10px;
    width: 60%;
    height: 40%;

}

.servicosDesc .servico2 img {

    position: relative;
    top: 10px;
    width: 60%;
    height: 40%;

}

.servicosDesc .servico3 img {

    position: relative;
    top: 10px;
    width: 60%;
    height: 40%;

}

.servicosCont {

    display: flex;
    flex-direction: column-reverse;

}

.texto {
    margin-top: -4%;
    padding: 2.0em;
    display: flex;
    text-align: center;
    height: 50vh;
    font-size: x-large;
    position: relative;
    bottom: 6vh;


}

.servicos .lineS {
    height: 5px;
    width: 530px;
    background-color: #8800ff;
    margin-left: -60%;
    margin-top:6%;
}

h1 {
    width: 60%;
    font-size: 55px;
    letter-spacing: 1px;
    display: flex;
    margin-left: 0%;
    top: 0vh;
    left: 8vh;
    bottom: 500px;
    font-family: 'Poppins', sans-serif;
    color: #000000;

}

.servico1 h2 {
    font-size: xx-large;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.servico3 h2 {
    font-size: xx-large;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.servico2 h2 {
    font-size: xx-large;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
    margin-bottom: 0%;
}

.servico1 {
    background-color: #000000;
    height: 88vh;
    width: 80%;
    margin: auto;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 23vh;
    z-index: 1;
    color: #ffffff;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-right: 15%;
    border-radius: 8px;
}



.servico1:hover {

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.servico2:hover {

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.servico3:hover {

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.servico2 {
    background-color: #FAFAFA;
    height: 94vh;
    width: 73%;
    margin-top: 40%;
    margin-left: 13%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 1vh;
    z-index: 2;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    border-radius: 8px;
}

.servico3 {

    background-color: #000000;
    height: 88vh;
    width: 80%;
    margin: auto;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 3vh;
    right: 23vh;
    z-index: 1;
    color: #ffffff;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-left: 15%;
    border-radius: 8px;
}

.servicos-forma {
    position: relative;
    display: flex;

}

.servicos-divisor {
    position: relative;
    margin-top: -2vh;
}

/* SOBRE NÓS */
.sobre-nos .section-sobre {
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    color: #000000;
}

.section-sobre .texto-sobre-nos h1 {
    width: 60%;
    font-size: 55px;
    letter-spacing: 1px;
    display: flex;
    position: relative;
    top: -25vh;
    left: 8vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.section-sobre .texto-sobre-nos .line{
    height: 5px;
    width: 530px;
    background-color: #8800ff;
    margin-left: 65px;
    margin-top: -240px;
}

.section-sobre .texto-sobre-nos p {
    width: 75%;
    font-size: 28px;
    display: flex;
    position: relative;
    top: -5vh;
    left: 8vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    line-height: 55px;
}

.cards-sobre-nos{
    width: 35%;
    left: 65%;
}

.cards-sobre-nos-1{
    background-color: #46008d;
    height: 17vh;
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: -3vh;
    margin-right: 30vh;
    color: #ffffff;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-top: -9vh;
    margin-bottom: 25vh;
    border-radius: 10px;
}
.cards-sobre-nos-1 h3{
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.cards-sobre-nos-1:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.cards-sobre-nos-2{
    background-color: #46008d;
    height: 17vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content:center;
    text-align: center;
    position: relative;
    left: -3vh;
    margin-right: 30vh;
    color: #ffffff;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-top: -20vh;
    margin-bottom: 30vh;
    border-radius: 10px;
}

.cards-sobre-nos-2:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.cards-sobre-nos-2 h3{
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cards-sobre-nos-3{
    background-color: #46008d;
    height: 17vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: -3vh;
    margin-right: 30vh;
    color: #ffffff;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-top: -25vh;
    margin-bottom: 15vh;
    border-radius: 10px;
}

.cards-sobre-nos-3:hover{
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.cards-sobre-nos-3 h3{
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section-sobre .texto-sobre-nos p1 {
    width: 85%;
    font-size: 28px;
    display: flex;
    position: relative;
    top: 25vh;
    left: 12vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #8566c2;
    font-weight: 700;
}

.ilustracao-sobre-nos {
    position: relative;
    top: 30vh;
    right: 0vw;
    z-index: 99;
    left: 5vw;
}

#imagemSobreNos {
    width: 800px;
    height: 800px;
}

.section-sobre .texto-sobre-nos {
    width: 65%;
    margin: 10px 50px;
    font-family: Poppins;
    color: #3b280a;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    text-align: justify;
}

/* PRIMEIRO DIVISOR */
.custom-shape-divider-bottom-1692823570 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692823570 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 320px;
}

.custom-shape-divider-bottom-1692823570 .shape-fill {
    fill: #FFFFFF;
}

/* SEGUNDA DIVISAO */
.custom-shape-divider-bottom-1692676178 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692676178 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.5px);
    height: 400px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1692676178 .shape-fill {
    fill: #8A7DCE;
}

.custom-shape-divider-top-1692676204 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1692676204 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.5px);
    height: 300px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1692676204 .shape-fill {
    fill: #8A7DCE;
}


.card {

    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.cardDesc {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
}

.cardDesc img {

    position: relative;
    bottom: 4vh;
    width: 42%;
    height: 15vh;
    border-radius: 50%;
    background-color: #000000;
    z-index: 2;

}


.cardDesc .servico2 img {

    position: relative;
    top: 10px;
    width: 35%;
    height: 18vh;

}

.cardCont {

    display: flex;
    flex-direction: column-reverse;
    margin-top: 0%;

}

.texto2 {
    padding: 1.0em;
    text-align: center;
    height: 20vh;
    font-size: 25px;
    position: relative;
    bottom: 6vh;

}

.texto2 h2{
    color: #6E43B9;
}

.texto2 h2:hover{
    color: rgb(255, 255, 255);
    transition-duration: 0.6s;
}

.card1 {

    background-color: #ffffff;
    height: 69vh;
    width: 57%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 15px;
    z-index: 1;
    /* color: #6E43B9; */
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-right: 5%;

}

.card1:hover{
    background:#000000;
    color: white;
}

.card2:hover{
    background:#000000;
    color: white;
}

.card3:hover{
    background:#000000;
    color: white;
}

.card2 {

    background-color: #ffffff;
    height: 69vh;
    width: 59%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 15px;
    z-index: 1;
    /* color: #6E43B9; */
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);

}

.card3 {


    background-color: #ffffff;
    height: 69vh;
    width: 59%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 15px;
    z-index: 1;
    /* color: #6E43B9; */
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-right: 50%;
}


.back-sobre-nos {
    height: 1500px;
}


.nossa-equipe {
    background-color: #FAFAFA;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
    height: 90vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

#nossa-equipe {
    width: 60%;
    font-size: 55px;
    letter-spacing: 1px;
    display: flex;
    margin-left: 39%;
    top: 0vh;
    left: 8vh;
    bottom: 500px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin-top: -5%;
    margin-bottom: 5%;
}

.lineE{
    height: 5px;
    width: 430px;
    background-color: #8800ff;
    margin-left: 38.5%;
    margin-top:-5%;
    margin-bottom: 3%;
}

.caixa-equipe {
    display: flex;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.cards-equipe {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-foto {
    height: 500px;
    width: 14.7%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    border-radius: 1%;
}

.card-desc {
    background-color: #FAFAFA;
    height: 170px;
    width: 100%;
}

.card-desc2 {
    display: flex;
    justify-content: center;
}


#nome-equipe {
    font-size: x-large;
    color: #2A327A;
    font-family: 'Poppins', sans-serif;
    top: 5vh;
}

.texto3 {
    padding: 1.0em;
    text-align: center;
    height: 20vh;
    font-size: large;
    position: relative;
    bottom: 2vh;
    opacity: 0.3;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

.back-footer{
    height: 600px;
    padding-top: 30%;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.link {
    text-decoration: none;
}

#rodape {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    justify-content: space-around;
}

#footer_contacts h3 {
    margin-bottom: 0.75rem;
    font-size:xx-large;
    font-family: 'Inter', sans-serif;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .link i {
    font-size: 1.25rem;    
}

#footer_social_media .link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}


#email {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#email p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
    text-decoration: none;
}

.footer-list .footer-link:hover {
    color: #7f37c9;

}

.notes{

    position: relative;
    width: auto;
    max-width: 500px;
    min-height: 150px;
    background: #0e0c0c;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
    
    }


    .custom-shape-divider-bottom-1692911528 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1692911528 svg {
        position: relative;
        display: block;
        width: calc(108% + 1.3px);
        height: 158px;
    }
    
    .custom-shape-divider-bottom-1692911528 .shape-fill {
        fill: #FAFAFA;
    }