@import url('https://fonts.cdnfonts.com/css/metrophobic');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6E43B9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2A327A;
}


/* NAV BAR */

.navbar {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    display: flex;
    background: #6e43b9;
    justify-content: space-between;
    align-items: center;
    color: #FAFAFA;
    padding: 2% 1%;
}

.navbar-items ul {
    list-style: none;
    margin-left: 30vw;
    padding: 0;
    display: flex;
}

.navbar-items li {
    margin: 0 20px;
}

.navbar-items a {
    text-decoration: none;
    color: #FAFAFA;
}

.navbar li a:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #000000;
    transition: 0.5s;
}

.navbar-direita a {
    text-decoration: none;
    color: #FAFAFA;
}

.navbar-direita {
    font-size: 20px;
    margin-top: -1.6%;
}

.navbar-direita a:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #000000;
    transition: 0.5s;
}


/* INICIO HOME */

#homeMain {
    display: flex;
    justify-content: space-around;
    color: #FAFAFA;
    background: rgb(94, 87, 193);
    background: linear-gradient(0deg, rgba(94, 87, 193, 1) 0%, rgba(110, 67, 185, 1) 100%);
    height: 65vh;
    position: relative;
    padding: 5vb;
    margin-bottom: 15vh;
    margin-left: 0vw;
}

.main-texto {
    margin: 0;
    position: relative;
    left: 5vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-left: 0vw;
}

#part1 {
    margin-left: 0vw;
    margin-top: 2vw;
    margin-bottom: 0%;
    font-weight: 700;
    color: #b1e3ed;
}

#TrackWare-titulo:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #000000;
    transition: 0.5s;
}

#TrackWare-subtitulo:hover {
    /*'animação' dos links, quando passar o mouse troca a cor em 0.5 segundos*/
    color: #000000;
    transition: 0.5s;
}

#part2 {
    margin-left: 0vw;
    width: 40vw;
    margin-top: 0vw;
}

#TrackWare-titulo {
    font-weight: 300;
    font-size: 80px;
    margin-top: -5vw;
    margin-left: 0vw;
}

#TrackWare-subtitulo {
    font-weight: light;
    font-size: 22px;
    margin-left: 0vw;
}



.ilustracao-home {
    position: relative;
    top: -8vh;
    right: -5vw;
    z-index: 99;
}

#imagemHome {
    width: 800px;
    height: 800px;
}

/* SERVIÇOS */
.servicos {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.servicosDesc {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    color: #000000;
}

.servicosDesc img {

    position: relative;
    top: 10px;
    width: 42%;
    height: 18vh;

}

.servicosDesc .servico2 img {

    position: relative;
    top: 10px;
    width: 35%;
    height: 18vh;

}

.servicosCont {

    display: flex;
    flex-direction: column-reverse;

}

.texto {

    padding: 2.0em;
    display: flex;
    text-align: center;
    height: 50vh;
    font-size: x-large;
    position: relative;
    bottom: 6vh;


}

h1 {

    width: 300px;
    font-size: 80px;
    letter-spacing: 1px;
    position: relative;
    right: 3vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #2A327A;

}

h2 {
    font-size: xx-large;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.servico1 {
    background-color: #78E7E8;
    height: 78vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 23vh;
    z-index: 1;
    color: #6E43B9;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-right: 15%;

}

.servico1:hover {

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.servico2:hover {

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.servico3:hover {

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.servico2 {
    background-color: #FAFAFA;
    height: 82vh;
    width: 73%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 1vh;
    z-index: 2;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
}

.servico3 {

    background-color: #78E7E8;
    height: 78vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 3vh;
    right: 23vh;
    z-index: 1;
    color: #6E43B9;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-left: 15%;
}

.servicos-forma {
    position: relative;
    display: flex;

}

.servicos-divisor {
    position: relative;
    margin-top: -2vh;
}

/* SOBRE NÓS */
.sobre-nos .section-sobre {
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    color: #000000;
}

.section-sobre .texto-sobre-nos h1 {
    width: 60%;
    font-size: 80px;
    letter-spacing: 1px;
    display: flex;
    position: relative;
    top: 25vh;
    left: 35vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #2A327A;
}

.section-sobre .texto-sobre-nos p {
    width: 85%;
    font-size: 28px;
    display: flex;
    position: relative;
    top: 25vh;
    left: 12vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #2A327A;
    line-height: 55px;
}

.section-sobre .texto-sobre-nos p1 {
    width: 85%;
    font-size: 28px;
    display: flex;
    position: relative;
    top: 25vh;
    left: 12vh;
    bottom: 100px;
    font-family: 'Poppins', sans-serif;
    color: #8566c2;
    font-weight: 700;
}

.ilustracao-sobre-nos {
    position: relative;
    top: 30vh;
    right: 0vw;
    z-index: 99;
    left: 5vw;
}

#imagemSobreNos {
    width: 800px;
    height: 800px;
}

.section-sobre .texto-sobre-nos {
    width: 65%;
    margin: 10px 50px;
    font-family: Poppins;
    color: #3b280a;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    text-align: justify;
}

/* PRIMEIRO DIVISOR */
.custom-shape-divider-bottom-1692823570 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692823570 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 320px;
}

.custom-shape-divider-bottom-1692823570 .shape-fill {
    fill: #FFFFFF;
}

/* SEGUNDA DIVISAO */
.custom-shape-divider-bottom-1692676178 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692676178 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.5px);
    height: 400px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1692676178 .shape-fill {
    fill: #8A7DCE;
}

.custom-shape-divider-top-1692676204 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1692676204 svg {
    position: relative;
    display: block;
    width: calc(180% + 1.5px);
    height: 300px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1692676204 .shape-fill {
    fill: #8A7DCE;
}

.card {

    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.cardDesc {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    color: #000000;
}

.cardDesc img {

    position: relative;
    bottom: 4vh;
    width: 42%;
    height: 15vh;
    border-radius: 50%;
    background-color: #143ab6;
    z-index: 2;

}


.cardDesc .servico2 img {

    position: relative;
    top: 10px;
    width: 35%;
    height: 18vh;

}

.cardCont {

    display: flex;
    flex-direction: column-reverse;
    margin-top: 30%;

}

.texto2 {
    padding: 1.0em;
    text-align: center;
    height: 20vh;
    font-size: medium;
    position: relative;
    bottom: 6vh;
}

.card1 {

    background-color: #f6ffff;
    height: 50vh;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;

    z-index: 1;
    /* color: #6E43B9; */
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-right: 5%;

}

/* .card1:hover{

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.card2:hover{

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

}

.card3:hover{

    transform: scale(1.1);
    transition: 0.7s ease-in-out;

} */

.card2 {

    background-color: #f6ffff;
    height: 50vh;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;

    z-index: 1;
    /* color: #6E43B9; */
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);

}

.card3 {


    background-color: #f6ffff;
    height: 50vh;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;

    z-index: 1;
    /* color: #6E43B9; */
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    margin-right: 50%;
}

.back-sobre-nos {
    height: 1500px;
}


.nossa-equipe {
    background-color: #FAFAFA;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
    height: 90vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

#nossa-equipe {
    font-size: 80px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    color: #2A327A;
    margin-top: -120px;
    margin-bottom:80px ;
}

.caixa-equipe {
    display: flex;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.cards-equipe {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-foto {
    height: 500px;
    width: 14.7%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.384);
    border-radius: 1%;
}

.card-desc {
    background-color: #FAFAFA;
    height: 170px;
    width: 100%;
}

.card-desc2 {
    display: flex;
    justify-content: center;
}


#nome-equipe {
    font-size: x-large;
    color: #2A327A;
    font-family: 'Poppins', sans-serif;
    top: 5vh;
}

.texto3 {
    padding: 1.0em;
    text-align: center;
    height: 20vh;
    font-size: large;
    position: relative;
    bottom: 2vh;
    opacity: 0.3;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

.back-footer{
    height: 600px;
    padding-top: 30%;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.link {
    text-decoration: none;
}

#rodape {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    justify-content: space-around;
}

#footer_contacts h3 {
    margin-bottom: 0.75rem;
    font-size:xx-large;
    font-family: 'Inter', sans-serif;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .link i {
    font-size: 1.25rem;    
}

#footer_social_media .link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}


#email {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#email p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
    text-decoration: none;
}

.footer-list .footer-link:hover {
    color: #7f37c9;

}

.notes{

    position: relative;
    width: auto;
    max-width: 500px;
    min-height: 150px;
    background: #0e0c0c;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
    
    }

