@import url('https://fonts.cdnfonts.com/css/metrophobic');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.5vw;
    height: 95.5vh;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
  }

h1 {
    font-weight: bold;
    margin: 0;
    font-size: 190%;
    color: #aa00ff;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 80%;
    font-weight:light;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    color:#ffffff ;
    margin-bottom: 6vh;
}

span {
    font-size: 10px;
}

a {
    color:#aa00ff ;
    font-size: 100%;
    text-decoration: none;
    margin: 25px 0;
    font-family: 'Poppins', sans-serif;
}


/* Caixa que contém o login e o cadastro */

.botao-voltar-colaborativo{
    font-size: 2vh;
    width: auto;
    background-color: #ffffff;
    border: none;
    cursor:pointer;
    font-weight: bold;
    color: #aa00ff;
    margin-top: 12vh;
}
.botao-voltar-empresarial{
    font-size: 2vh;
    width: auto;
    background-color: #ffffff;
    border: none;
    cursor:pointer;
    font-weight: bold;
    color: #aa00ff;
    margin-top: 2vh;
}
.botao-voltar-login{
    font-size: 2vh;
    width: auto;
    background-color: #ffffff;
    border: none;
    cursor:pointer;
    font-weight: bold;
    color: #aa00ff;
    margin-top: 20vh;
}



.container {
    
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(17, 17, 17, 0.22);
    position: relative;
    overflow: hidden;
    width: 73vw;
    height: 93vh;
    display: flex;
    align-items: center;
   justify-content: center;
}

.container2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
   
}


/* Parte do login */

.botao {

    border-radius: 300px 20px 300px 20px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 20px ease-in; 
    margin-top: -2vh;
}

.botao:active {
    transform: scale(0.95);
}

/* botao cadastrar */

.botao.ghost {
    background-color: #ffffff;
    color: #000000;
}

.form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    margin-top: 10vh;
}

.formCadastroUsuario {
    background-color: #ffffff;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    margin-top: 18vh;
}

.frase-cadastro-usuario{
    margin-top: 3vh;
}

.frase-cadastro-usuario span{
    font-size: 2vh;
}

.botao-cadastrar-usuario{
    font-size: 2vh;
    width: auto;
    background-color: #ffffff;
    border: none;
    cursor:pointer;
    font-weight: bold;
    color: #aa00ff;

}

.formCadastroEmpresa{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    margin-top: 8vh;
}

.frase-cadastro-empresa{
    margin-top: 3vh;
}

.frase-cadastro-empresa span{
    font-size: 2vh;
}
input {
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 12px 15px;
    margin: 10px 0;
    width: 100%;
    outline: none;
    height: 20px;
    border: 0;
    border-bottom: 1px solid rgb(33, 32, 32);
    text-align: start;
    font-size: medium;
    
}

.inps{
    position: relative;
    bottom: 3vh;
}


/* Parte do Cadastro */

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

    /* o que acontece durante a transição */

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #000000;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.overlay p{
    font-weight: 500;
    width: 80%;
}