*{
  margin: 0;
  font-family: sans-serif;
}

.container_pagina{
  display: flex;
  height: 100vh;
  width: 100%;
}

.menu_dashboard{
  background-color: black;
  width: 20%;
  height: 100%;
  position: fixed;
  border-right: 2px solid white;
}

.container_logo_menu_dashboard{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo_menu_dashboard{
  display: flex;
  justify-content: center;
  width: 45%;
  height: 80%;
}

.logo_menu_dashboard img{
  width: 90%;
  height: 95%;
}

.opcoes_menu_dashboard{
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-left:20%;
}

@font-face {
  font-family: Poppin-Bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

.opcoes_menu_dashboard button{
  margin-bottom: 10%;
  background-color: black;
  border: 2px solid black;
  color: white;
  font-size: 120%;
  height: 100%;
  font-family: Poppin-Bold;
  cursor: pointer;
  transition: transform 1s, border-left 1s, border-right 1s, border-radius 1s;
  width: fit-content;
  text-align: justify;
}

.opcoes_menu_dashboard button:hover{
  transform: scale(1.53);
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius: 25%;
}

.opcoes_menu_dashboard .button_selecionado {
  color: #6E43B9;
  font-weight: 800;
  text-decoration: underline;
  transform: scale(1.5);
  border-left: 2px solid #6E43B9;
  border-right: 2px solid #6E43B9;
  border-radius: 25%;
}

.tela_dashboard{
  margin-left: 20%;
  width: 80%;
  height: 100%;
}

.container_mensagem_usuario{
  background-color: #000000;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.img_usuario{
  display: flex;
  justify-content: center;
  margin-left: 4%;
  width: 8%;
  height: 40%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10%;
}

.img_usuario img{
  height: 100%;
}

.mensagem_usuario{
  color: white;
  padding: 1%;
  font-size: 25px;
  font-family: Poppin-Bold;
}

.mensagem_usuario span {
  color: #8800ff;
  font-weight: 800;
}

.container_mensagem_botao{
  display: flex;
  height: 20%;
}

.container_botao_maquinas{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao_maquina{
  height: 50%;
  width: 50%;
}

.botao_maquina select{
  font-family: Poppin-Bold;
  background-color: #370854;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  font-size: 150%;
}

.botao_maquina option{
  border-radius: 25px;
}

.nome_empresa{
  height: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppin-Bold;
  font-size: 150%;
}

.container_cards_monitoramento{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card{
  width: 12%;
  height: 50%;
  cursor: pointer;
  background-color: #370854;
  color: white;
  font-family: Poppin-Bold;
  border-radius: 5px;
  transition: transform 1s;
}

.card:hover{
  transform: scale(1.2);
}

.container_dados_botao{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tipo_componente{
  font-size: 150%;
}

.dado_monitoramento{
  width: fit-content;
  font-size: 140%;
  display: flex;
  flex-direction: column;
}

.valor_dados{
  display: flex;
}

.card_grafico{
  border: 10px solid #370854;
  border-radius: 100%;
  width: 20%;
  height: 50%;
}

.tipo_utilizacao{
  font-size: 50%;
}

.dado{
  
  text-align: center;
}

#dado_CPU{
  text-align: center;
}

#dado_RAM{
  text-align: center;
}

#dado_DISCO{
  text-align: center;
}

.container_grafico{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;;
}

.grafico{
  /* background-color: blue; */
  width: 70%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas{
  /* background-color: lightblue; */
  width: 100%;
  height: 80%;
}

#Grafico_Principal{
  border-radius: 20px;
  width: 100%;
  height: 72vh;
  background-color: #370854;
  display: flex;
  border: dashed purple 5px;
}

.img_informacao{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_informacao img{
  width: 65%;
}

.informacao{
  /* background-color: white; */
  width: 60%;
}

.informacao h1{
  padding: 5%;
  font-family: Poppin-Bold;
  color: white;
  text-align: center;
}

.informacao span{
  border-bottom: 2px solid white;
}

.informacao p{
  width: 70%;
  font-family: Poppin-Bold;
  color: white;
  text-align: justify;
}

.texto_informacao{
  padding: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
}