body{
    font-family: sans-serif;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: #6E43B9;
}

.cards {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 8%;
    margin-top: 2%;
}

.cardLogs{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    text-align: center;
    padding: 3%;
    position: relative;
    display: flex;
    flex-direction: column;

    border-radius: 12px;
    background-color: #020202e2;
    border: 1px solid #ffffff;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardLogs:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid #8800ff;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgba(225, 0, 255, 0.1), 0 2px 4px -2px rgba(200, 1, 255, 0.1);
  }

.box {
    position: absolute;
    background-color: #6d3fbc;
    border-radius: 10px;
    right: 2.5%;
    top: -2%;
    width: 95%;
    height: 20%;
  }

.funcionario_titulo{
    position: relative;
    left: -.1%;

    font-size: 22px;
    font-weight: 800;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff
}

.container_logs {
    font-size: 28px;
    top: 17%;
    margin-top: -1%;
    position: relative;
    width: 103.5%;
    left: -3%;
    height: 82%;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 12px;
    padding: 1%;
    text-align: start;
    overflow-y: auto;
}

.container_logs span {
    color: #ffffff;
    margin-top: 5%;
    font-weight: 600;
    font-size: 30px;
}