/* CSS DO SAIBA MAIS REPONSIVO */

@media screen and (max-width: 768px) {
    
    body {
        overflow-x: hidden;
        width: 300vw;
        height: 2132vw;
    }

   
    /* NAV BAR */
    .navbar {
        width: 311.8vw;
        height: 12vh;
    }

    .navbar-items ul {
        list-style: none;
        margin-left:70vw;
        margin-top: 6vh;
    }



    /* HOME */
    #homeMain {
        height: 85vh;
        width: 300vw;
    }

    /* bem-vindo(a) */
    #part1 {
        font-size: 27px;
    }
    
    /* sublinhado */
    .line-saiba-mais {
        width: 34vh;
    }
    
    /* texto home */
    #part2 {
        width: 118vw;
        font-size: 20px;
    }
    
    /* titulo- saiba mais */
    #TrackWare-titulo {
        font-weight:500;
        font-size: 40px;
        margin-top: -5vw;
        margin-left: 0vw;
    }
  
    /* imagem home */
    #imagemHome {
        width: 70vh;
        height: 70vh;
        position: relative;
        top: 8vh;
        right: -4vh;
    }
    


    /* SECTION: O QUE MONITORAMOS? */

    /* texto */
    .p1 {
        font-size: 4vh;
        width: 90%;
        margin-left: -22vh;
        text-align: justify;
    }

    
    /* sublinhado */
    .section-sobre .texto-sobre-nos .line {
        width: 73vh;
        left: 55vh;
    }
    
    
    /* SECTION: PORQUE A ÁNALISE DE DADOS É IMPORTANTE? */
    .section-analise{
        width: 179vh;
    }

    /* titulo */
    .analise-dados .texto-analise h1 {
        width: 95%;
        left: 6vh;
    }

    /* sublinhado */
    .analise-dados .texto-analise .line {
        left: 18vh;
    }

    /* texto */
    .analise-dados .texto-analise .p1 {
        width: 79%;
        left: 42vh;
        text-align: justify;
    }

    .texto-analise{
        height: 80vh;
        margin-top: -10vh;
    }
     

    
    /* SECTION: PORQUE EMPRESAS DE LOGÍSTICA?*/
    .section-logistica{
        width: 179vh;
    }

    #porque-logistica{
        height: 90vh;
    }

    /* titulo */
    .section-logistica h1 {
        left: 24vh;
        margin-top: 8vh;
    }
    
    /* sublinhado */
    .section-logistica .texto-porque-logistica .line {
        left: 38vh;
    }
    
    /* texto */
    .texto-porque-logistica .p1 {
        margin-top: -66vh;
        width: 35%;
        left: 200vw;
    }
    
    /* imagem logistica */
    .ilustracao-logistica{
        top: -10vh;
        left: -10vw;
    }
    


    /* SECTION: FRASE DO QUE A TRACKWARE DESEJA OFERECER */
    .frase-trackware{
        width: 179vh;
    }

    /* titulo */
    .frase-trackware .texto-frase .h1 {
        font-size: 5vh;
    }
    


    /* SECTION: INFORMAÇÕES RELEVANTES SOBRE NOSSOS SERVIÇOS */
    .servicos {
        height: 179vh;
    }

    /* texto dentro das caixas */
    .texto {
        width: 90%;
    }
    
    /* caixas */
    .servicoBox {
        height: 50vh;
        width: 150vh;
        margin-left: 8vh;
    }
    
    
    /* RODAPÉ */
    #rodape {
        width: 275vw;
        margin-top: 80vh;
        height: 300vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #copyright {
        width: 304.8vw;
    }

    .footer-list-contato {
        margin-left: -4%;
    }
    

    /* DIVISOR DA HOME */
    .custom-shape-divider-bottom-1692911528 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1692911528 svg {
        position: relative;
        display: block;
        width: calc(108% + 1.3px);
        height: 158px;
    }
    
    .custom-shape-divider-bottom-1692911528 .shape-fill {
        fill: #FAFAFA;
    }
    
    /* DIVISOR DO RODAPÉ */
    .custom-shape-divider-top-1694045992 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1694045992 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 131px;
    }
    
    .custom-shape-divider-top-1694045992 .shape-fill {
        fill: #FFFFFF;
    }
    

}