/* Parte Mobile */

@media screen and (max-width: 600px) {

    /* NAVBAR */

    body {
        overflow-x: hidden;
    }

    .principal {
        overflow-x: hidden;
    }

    .navbar {

        width: 98vw;
        height: 12vh;
    }

    .navbar-items ul {
        list-style: none;
        margin-left: 1vw;
    }

    .navbar-logo img {

        width: 40px;
        height: 40px;

    }

    .navbar-items a {
        font-size: 2vh;
    }

    .navbar-direita a {
        font-size: 1.7vh;
    }

    .navbar-direita {
        font-size: 0rem;

    }

    /* HOME */

    #imagemHome {

        width: 170%;
        height: 30vh;
        position: relative;
        top: 48vh;
        right: 15vh;

    }


    #homeMain {

        height: 80vh;
        width: 82.3vw;

    }

    #TrackWare-titulo {

        font-size: 5vh;

    }

    #TrackWare-subtitulo {

        font-size: 4vh;

    }

    .main-texto {
        
        position: relative;
        left: 5vw;
        top: 5vh;
        font-size: 0.90rem;

    }

    .button-home {
       
        width: 50%;
        height: 5vh;
        font-size: 13px;
      
    }

    /* Sobre nos */

    .sobre-nos .section-sobre {

        width: 100vw;
        height: 280vh;
        flex-direction: column;

    }

    .section-sobre .texto-sobre-nos h1 {
        width: 100vw;
        font-size: 5vh;
        letter-spacing: 1px;
        position: relative;
        left: 6vh;


    }

    .section-sobre .texto-sobre-nos .line {
        height: 4px;
        width: 50vh;
        position: relative;
        left: 5vh;
        
    }

    .p1 {

        width: 75%;
        font-size: 4vh;
        position: relative;
        left: 8vh;
        line-height: 5vh;

    }

    .p2 {

        width: 35%;
        height: 10vh;
        font-size: 4vh;
        position: relative;
        text-align: center;
        bottom: 20vh;
        left: 12vh;


    }

    .section-sobre .texto-sobre-nos img {

        width: 60vw;
        height: 40vh;
        position: relative;
        left: 10vh;
        bottom: 16vh;

    }

    /* Missao, valores e visao */

    .cardDesc {
        height: 230vh;
        width: 100%;
        flex-direction: column;
        
    }
    
    .texto2 {
        padding: 1.0em;
        text-align: center;
        height: 20vh;
        font-size: 25px;
        position: relative;
        bottom: 6vh;
    
    }
    
    
    .line2 {
    
        height: 1vh;
        width: 30vh;
        background-color: #ffffff;
        position: relative;
        right: 1vh;
    
    }
    
    .card1 {
    
        height: 70vh;
        width: 100%;
        
    
    }
    
    .card2 {
    
        height: 70vh;
        width: 100%;
        position: relative;
        right: 0vh;
        
    
    }
    
    .card3 {
    
        height: 70vh;
        width: 100%;
        position: relative;
        right: 0vh;
    
    }

    /* SERVIÇOS */

    .servicos {
    
        
        flex-direction: row;
        height: 100vh;
        width: 100vw;
        
    }
    
    
    
    .servicosDesc {
        height: 60vh;
        width: 100%;
        position: relative;
        left: 7vh;
    }
    
    .servicos .servicosDesc h1 {
    
        width: 60%;
        font-size: 5vh;
        position: relative;
        left: 15vh;
        bottom: 28vh;
        
    
    }
    
    .servicos .line3 {
    
        height: 10vh;
        width: 55vh;
        position: relative;
        left: 15vh;
        bottom: 5vh;
    
    }
    
    .subtitulo {
    
        width: 100%;
        font-size: 3vh;
        position: relative;
        left: 15vh;
        bottom: 34vh;
    
    }
    
    .servicos img {
    
        width: 80%;
        height: 50vh;
        position: relative;
        right: 28vh;
        top: -10vh;
    
    }
    
    .servicos .servicosDesc h2 {
        font-size: 3vh;
        position: relative;
        left: 5vh;
        bottom: 2vh;
    }
    
    .texto {

        font-size: 2.7vh;
        position: relative;
        bottom: 15vh;
    
    }
    
    .servicoBox {
    
        height: 30vh;
        width: 90vw;
        position: relative;
        left: 15.5vh;
        
    }

    /* AVALIAÇÕES */

.avaliacoes {
   
    height: 200vh;
    width: 100vw;
   
}

.avaliacaoDesc {

    height: 100vh;
    width: 100vw;
    flex-direction: column;

}

#avaliacoes {
    width: 60%;
    font-size: 5vh;
    letter-spacing: 1px;
    position: relative;
    top: 50vh;
    left: 0vh;
  
}

.line4 {

    height: 5px;
    width: 40vh;
    position: relative;
    bottom: 2vh;
    right: 65vh;

}

.texto3 {

    height: 20vh;
    font-size: 1vh;
    position: relative;
    bottom: 6vh;

}

.avaliacao {

    height: 50vh;
    width: 80%;
   
}

/* NOSSA EQUIPE */

.nossa-equipe {

    background-color: #FAFAFA;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 60vh;
    text-align: center;
    height: 90vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;

}



#nossa-equipe {
    width: 10vw;
    font-size: 5vh;
    letter-spacing: 1px;
    flex-direction: column;
    position: relative;
    top: 0vh;
    right: 17vh;
   
}

.line5 {
    height: 5px;
    width: 40vh;
    position: relative;
    right: 10vh;
}

.caixa-equipe {
    display: flex;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.cards-equipe {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.card-foto {
    height: 500px;
    width: 14.7%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 10px 10px 5px rgba(0, 0, 0, 0.384);
    border-radius: 1%;
}

.nossa-equipe img{

    position: relative;
    top: 2.5vh;

}

.card-desc {
    background-color: #FAFAFA;
    height: 170px;
    width: 100%;
    flex-direction: column;
}

.card-desc2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#nome-equipe {
    font-size: x-large;
    color: #2A327A;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 1vh;
}

.texto3 {
    padding: 1.0em;
    text-align: center;
    height: 20vh;
    font-size: large;
    position: relative;
    bottom: 1vh;
    opacity: 0.8;
}


/* Botao para voltar pra cima */

.back-to-top {
    position: fixed;
    right: 1vh;
    bottom: 1vh;
    z-index: 999;
    background: #6E43B9;
    width: 11vw;
    height: 7vh;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top:hover {
    background: #550e63;
    color: #fff;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }


}