body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #FAFAFA;
    background: linear-gradient(0deg, rgb(160, 160, 160) 0%, rgb(0, 0, 0) 100%);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6E43B9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2A327A;
}

/* SECTION: HOME */

.home {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

#planos {
  color: #ffffff;
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 15%;
  text-shadow: rgb(41, 39, 39) 0.1em 0.2em 0.2em
}

.container-barra {
  width: 100%;
}

.barra {
  counter-reset: step;
}

.barra li {
  list-style: none;
  display: inline-block;
  width: 33%;
  position: relative;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  color: #FAFAFA;
}

.barra li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
  color: #000000;
}
.barra li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index : -1;
}

.barra li:first-child:after {
  content: none;
}

.barra li.active {
  color: #6d3fbc;
}

.barra li.active:before {
  border-color: #6d3fbc;
} 

.barra li.active + li:after {
  background-color: #6d3fbc;
}

.header-pagina b {
  color: #6d3fbc;
  font-weight: 800;
  text-shadow: rgba(126, 10, 242, 0.313) 0.1em 0.1em 0.2em
}

.line {
  position: absolute;
  top: 21%;
  height: 5px;
  width: 700px;
  background-color: #8800ff;
}

.container-cards {
    width: 90%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards {
    position: relative;
    display: flex;
    width: 25%;
    height: 70vh;
    flex-direction: column;
    border-radius: 12px;
    background-color: #10101059;
    border: 1px solid #fff;
    padding: 1.6rem;
    color: #fff;
    opacity: 0.5;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .cards:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid #8800ff;
    padding: 1.6rem;
    color: #fff;
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 4px 6px -1px rgba(225, 0, 255, 0.1), 0 2px 4px -2px rgba(200, 1, 255, 0.1);
  }

  .cards:hover ~ .icon {
    opacity: 1;
  }
  
  .box {
    position: absolute;
    background-color: #6d3fbc;
    border-radius: 10px;
    right: 2.5%;
    top: -2%;
    width: 95%;
    height: 32%;
  }
  
  .cards .recomendado::before {
    content: 'Recomendado!';
    top: 10%;
    right: 55%;
    position: absolute;
    z-index: 1;
    width: 55%;
    height: 30px;
    background-color: #FAFAFA;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  }

  .cards .popular::before {
    content: 'Mais popular!';
    top: 10%;
    right: 55%;
    position: absolute;
    z-index: 1;
    width: 55%;
    height: 30px;
    background-color: #FAFAFA;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  }

  .header-cards {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-bottom: 1rem;
    text-align: center;
  }
  
  .titulo {
    display: block;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff
  }
  
  .preco {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-family: sans-serif;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  .preco span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .preco span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .container-lista {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 8px;
  }
  
  .lista {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .lista .icon {
    width: 100%;
    height: 3.2vh;
  }

  .lista p {
    display: block;
    font-size: 15px;
    font-family: sans-serif;
  }

  .icon-cima{
    position: absolute;
    rotate: 355deg;
    top: 21%;
    right: 6.5%;
    width: 5%;
    height: 10vh;
    z-index: 1;
  }

  .button-container {
    margin-top: 20px;
    padding: 0;
  }
  
  .button-container button {
    background: #8800ff;
    color: #fff;
    border: #8800ff;
    border-radius: 20px;
    width: 100%;
    height: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    transition: 0.5s;
    box-shadow: 0 0 7px #6a23bc;
  }
  
  .button-container button:hover {
    color: #8800ff;
    transition: 0.5s;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
    background: #FAFAFA;
    transition-duration: 0.3s;
    box-shadow: 0 0 7prgb(255, 255, 255)ff;
  }